@media screen and (max-width: 768px) {

    @media screen and (max-width: 768px) {

        .Logo {
            grid-column: 1;
        }

        .Header {
            grid-column: 2/-1;
        }

        .Nav {
            grid-column: 1/ -1;
            grid-row: 2;
            z-index: 1;
        }

        .BathSectionIntro {
            grid-column: 1/3;
            grid-row: 3;
        }

        .Ad {
            grid-column: 3/-1;
            grid-row: 3;
        }

        .TypesOfBaths {
            grid-column: 1/-1;
            grid-row: 4/6;
        }

        .RelatedProducts {
            grid-column: 1/-1;
            grid-row: 6/7;
        }
        .StoreLocator {
            grid-column: 1/3;
            grid-row: 7/8;
        }

        .Tools {
            grid-column: 3/-1;
            grid-row: 7/8;
        }

        .Footer {
            grid-column: 1/-1;
            grid-row: 8/-1;
        }

    }

    

    }


